<html>
    <head>
        <style>
            body {
                background-color: #eaf8fc;
            }
            main {
                height: 100vh;
                width: 100vw;
                text-align: center;
            }
            h1 {
                font-size: 5em;
                font-weight: 700;
                line-height: 1.5;
                margin-top: 25%;
            }
            h3 {
                font-size: 1em;
            }
            a {
                background-color: #f4da85;
                color: black;
                font-size: 2em;
                border-radius: 8px;
                text-decoration: none;
                display: inline-block;
                white-space: nowrap;
                padding: 11px 25px;
            }
            .posts {
                display: grid;
                overflow: hidden;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
            }
            .post-item {
                display: flex;
                border-radius: 6px;
            }
            #tiktok .post-tiktok {
                width: 325px;
                display: inline-block;
            }

        </style>
    </head>
    <body>
        <main>
            <div>
                <h1>Socials</h1>
            </div>
            <div>
                <h3>TikTok</h3>
                <div id="tiktok" class="posts">
                    <div id="tiktok-1" class="post-item post-tiktok"></div>
                    <div id="tiktok-2" class="post-item post-tiktok"></div>
                    <div id="tiktok-3" class="post-item post-tiktok"></div>
                </div>
            </div>
            <div>
                <h3>Instagram</h3>
                <div id="instagram" class="posts">
                    <iframe id="insta-1" class="post-item" width="320" height="540" src="javascript();" frameborder="0"></iframe>
                    <iframe id="insta-2" class="post-item" width="320" height="540" src="javascript();" frameborder="0"></iframe>
                    <iframe id="insta-3" class="post-item" width="320" height="540" src="javascript();" frameborder="0"></iframe>
                </div>
            </div>
        </main>
    </body>
</html>


<script async src="https://www.tiktok.com/embed.js"></script>
<script>
    const urlInsta = 'https://www.instagram.com/lepermislibre/';
    const urlTikTok = `https://api.allorigins.win/get?url=${encodeURIComponent('https://www.tiktok.com/@lepermislibre')}`;
    const instagramRegExp = /<script type="text\/javascript">window\._sharedData = (.*);<\/script>/;
    let config = {
        headers: {
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.146 Safari/537.36",
            "origin": "https://www.instagram.com"
        },
        method: "GET"
    };

    function setUpConfig(type) {
        return {
            headers: {
                "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.146 Safari/537.36",
                "origin": "https://www."+ type +".com"
            },
            method: "GET"
        };
    }

    async function callAsync(accountUrl, type) {
        const response = await fetch(accountUrl, setUpConfig(type));

        if (response.ok && response.redirected === false) {
            const body = await response.text();
            return body;

        }
        else {
            if(response.redirected){
                throw 'request for ' + type + ' posts exceeded';
            }

            throw "request for " + type + " posts failed : " + response.status;
        }

    }

    async function fetchInstagramPhotos (accountUrl) {
        try {

            callAsync(accountUrl, 'instagram')
            .then(html => {
                console.log(JSON.parse(html));
                let instagramRegExp = /<script type="text\/javascript">window\._sharedData = (.*);<\/script>/;
                const data = JSON.parse(response.data.match(instagramRegExp)[1]);

                if('ProfilePage' in data.entry_data && typeof data.entry_data.ProfilePage !== "undefined" && data.entry_data.ProfilePage.length > 0) {
                    const edges = data.entry_data.ProfilePage[0].graphql.user.edge_owner_to_timeline_media.edges.splice(0, 8);
                    const photos = edges.map(({node}) => {
                        return {
                            url: `https://www.instagram.com/p/${node.shortcode}/embed`,
                            thumbnailUrl: node.thumbnail_src,
                            displayUrl: node.display_url,
                            caption: node.edge_media_to_caption.edges[0].node.text
                        }
                    });
                    console.log(photos);
                    return photos
                }
                console.log(data);
                return data;
            })
            .catch(function (err) {
                throw 'fetch instagram posts failed : ' + err;
            });

        } catch (e) {
            throw e;
        }

    }

    function saveInstagramPhotos (photos) {
        try {
            let i = 1;
            localStorage.setItem('insta-refresh', Date.now());

            photos.forEach(function(photo) {
                localStorage.setItem('insta-' + i , photo.url);
                i++;
            })

        } catch (e){
            throw 'save instagram posts failed : ' + e;
        }
    }

    async function updateInstagram() {
        try {
            const refresh = localStorage.getItem('insta-refresh');
            const millis = Math.floor(Date.now() - refresh / 1000);

            if( localStorage.getItem('insta-1') === null || ( refresh !== null && millis > 86400 )){
                const photos = await fetchInstagramPhotos(urlInsta);

                if( typeof photos !== "undefined" && photos.length > 0 ){
                    saveInstagramPhotos(photos);
                }

            }

            document.getElementById('insta-1').src = localStorage.getItem('insta-1');
            document.getElementById('insta-2').src = localStorage.getItem('insta-2');
            document.getElementById('insta-3').src = localStorage.getItem('insta-3');
        } catch (e) {
            throw 'Update intagram posts failed : ' + e;
        }
    }

    async function fetchTikTokPhotos(accountUrl) {
        try {
            callAsync(accountUrl, 'tiktok')
                .then(html => {
                    let tiktokRegExp = /<script id="__NEXT_DATA__" type="application\/json" crossorigin="anonymous">(.*)<\/script><script crossorigin="anonymous"/;
                    let json = JSON.parse(html).contents.match(tiktokRegExp);
                    let data = JSON.parse(json[1]);

                    if('pageProps' in data.props && typeof data.props.pageProps !== "undefined" && data.props.pageProps.items.length > 0) {
                        const posts = data.props.pageProps.items.splice(0, 3);
                        buildTiktokPosts(posts);
                        return posts
                    }
                    return data;
                })
                .catch(function (err) {
                    throw 'fetch tiktok posts failed : ' + err;
                });
        } catch (e) {
            throw e;
        }
    }

    function buildTiktokPosts(posts) {
        if(typeof posts !== "undefined" && posts.length > 0){
            let i = 1;
            posts.forEach(function(post) {
                let postChallenges = "";
                post.challenges.forEach(function(challenge) {
                    postChallenges += `<a title="${challenge.title}" target="_blank" href="https://www.tiktok.com/tag/${challenge.title}">#${challenge.title}</a>`;
                });
                let postTitle = `<p>${post.desc} ${postChallenges}</p>`;
                let postSound = `<a target="_blank" title="♬ ${post.music.title} - ${post.music.authorName}" href="https://www.tiktok.com/music/${post.music.title.replace(/\s+/g, '-').toLowerCase()}-${post.music.id}">♬ ${post.music.title} - ${post.music.authorName}</a>`;
                let postSection = `<section><a target="_blank" title="@lepermislibre" href="https://www.tiktok.com/@lepermislibre">@lepermislibre</a>${postTitle}${postSound}</section>`;
                let postEmbed = `<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@lepermislibre/video/${post.id}" data-video-id="${post.id}" style="max-width: 605px;min-width: 325px;">${postSection}</blockquote>`;

                document.getElementById('tiktok-' + i).insertAdjacentHTML('afterbegin', postEmbed);
                i++;
            });

        }
    }

    async function updateTikTok() {
        try {

            const posts = await fetchTikTokPhotos(urlTikTok);


        } catch (e) {
            throw 'Update tiktok videos failed : ' + e;
        }
    }

    updateInstagram();
    updateTikTok();



</script>